/* Landscape */
@media screen and (orientation:landscape) {
    orientation.portrait {
        display: none;
    }
    orientation.landscape {
        display: block;
    }

    .mobile .section.portrait {
        display: none;
    }
    .mobile .section.landscape {
        display: block;
    }
}