.preloader-wrap {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    background: #ffffff;
    z-index : 2;
}

.loader {
    height: 5px;
    width: 400px;
    position: absolute;
    border-radius: 5px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin : auto;
}
.loader:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.trackbar {
    position: relative;
    background-color: #ebebeb;
    width:100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.loadbar {
    width: 0%;
    height: 100%;
    border-radius: 5px;
    background-color: #3096ca;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

@keyframes animation {
    10% {
        opacity: 0.9;
    }
    30% {
        opacity: 0.86;
    }
    60% {
        opacity: 0.8;
    }
    80% {
        opacity: 0.75;
    }
}