@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400');

/*font-family: 'Open Sans', sans-serif;*/
font-family: 'Roboto Slab', serif;
font-family: 'Roboto', sans-serif;

html{
    margin: 0;
    width: 100%;
    height: 100%;
}

.debug {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 100;
}

body {
    font-family:  'Roboto Slab', serif;
    /*background-color: rgb(200, 200, 200);*/
    color: white;
    width: 100%;
    margin: 0px;
    padding: 0px;
    -webkit-text-size-adjust: none;
    overflow: hidden;
    -webkit-overflow-scrolling: auto;

    background-image: url(../img/bg/stars.png);
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#header {
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
#logoCont {
    pointer-events: auto;
    cursor: pointer;
}
#logo, #logo-click-area {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 0px;
    opacity: 1;
}
#logo {
    top: 5vw;
    left: 5vw;
    width: 7vw;
    height: 4vw;
}
#logo-click-area {
    cursor: pointer;
}

.spinlogo-wrap {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    background: transparent;
}
#containerSpinLogo {
    /*width: 200px;
    height: 98px;*/
    width: 300px;
    height: 147px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin : auto;
}
#spinLogo {
    width: 100%;
    height: 100%;
    position: absolute;
}
#spiniPhoneX {
    width: 100%;
    height: 100%;
    position: absolute;
}


/* Full Page Overrides */
.fp-controlArrow.fp-prev {
    left: 15px;
    width: 6vh;
    height: 6vh;
    border: none;

    background: url(../img/btn/arrow.png) no-repeat center center;
    background-size: cover;

    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}
.fp-controlArrow.fp-next {
    right: 15px;
    width: 6vh;
    height: 6vh;
    border: none;

    background: url(../img/btn/arrow.png) no-repeat center center;
    background-size: cover;

    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}

