@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400');

/*font-family: 'Open Sans', sans-serif;*/
font-family: 'Roboto Slab', serif;
font-family: 'Roboto', sans-serif;

html{
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family:  'Roboto Slab', serif;
    color: white;
    width: 100%;
    margin: 0px;
    padding: 0px;
    -webkit-text-size-adjust: none;
    overflow: hidden;
    -webkit-overflow-scrolling: auto;

    background-image: url(../img/bg/section2bg.jpg);
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.colBlue {
    color: rgb(0, 252, 254);
}

rLoopContentData {
    display: none;
    width: 0;
    height: 0;
    opacity: 0;
}

orientation {
    width: 0;
    height: 0;
    opacity: 0;
}
/* Portrait */
@media screen and (orientation:portrait) {
    orientation.portrait {
        display: block;
    }
    orientation.landscape {
        display: none;
    }
}

/* Landscape */
@media screen and (orientation:landscape) {
    orientation.portrait {
        display: none;
    }
    orientation.landscape {
        display: block;
    }
}

.reflect {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";

    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}

/* Loading Styles */
.pre-load-outer {
    width: 100%;
    height: 100%;
    min-height: 300px;
    position: relative;
    top: 0;
    bottom: 0;
    z-index: 1;
}
.pre-load-inner-top {
    width: 100%;
    height: 60%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    overflow: hidden;
}
.pre-load-inner-bottom {
    width: 100%;
    height: 40%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 2;
    overflow: hidden;
    border-top: solid 1.5px #2B2B2B;
}

.headline-wrap {
    width: 300px;
    height: 80px;
    position: absolute;
    margin: 0px auto;
}
.headline-wrap.top {
    bottom: 20px;
    left: 0;
    right: 0;
}
.headline-wrap.bottom {
    top: 20px;
    left: 0;
    right: 0;
}
.headline-top {
    width: 100%;
    position: absolute;
    top: 0px;
    opacity: 0;
}
.headline-bottom {
    width: 100%;
    position: absolute;
    bottom: 0px;
    opacity: 0;
}

.hyper-loop {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;

    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    -moz-clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    -ms-clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    -o-clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
}
.hyper-loop-white {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}
.race-is-on {
    width: 100%;
}

.loader {
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    margin : auto;
    z-index: 3;
}
.loader:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.trackbar {
    position: relative;
    background-color: #000000;/*#ebebeb;*/

    width:100%;
    height: 100%;
    overflow: hidden;
}
.loadbar {
    width: 0%;
    height: 100%;
    background-color: rgb(0, 252, 254);
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.headline-overlay {
    background: rgba(0, 0, 0, .50);
    width: 100%;
    height: 100%;
    position: absolute;
}

/*.hide .headline-wrap.top {
    -webkit-transition: bottom 1s 1s, opacity 3s 2s;
    -moz-transition: bottom 1s 1s, opacity 3s 2s;
    -ms-transition: bottom 1s 1s, opacity 3s 2s;
    -o-transition: bottom 1s 1s, opacity 3s 2s;
    transition: bottom 1s 1s, opacity 3s 2s;
    bottom: -100px !important;
    opacity: 0 !important;
}*/
.hide .headline-wrap.bottom {
    -webkit-transition: top 1s 1s, opacity 3s 2s;
    -moz-transition: top 1s 1s, opacity 3s 2s;
    -ms-transition: top 1s 1s, opacity 3s 2s;
    -o-transition: top 1s 1s, opacity 3s 2s;
    transition: top 1s 1s, opacity 3s 2s;
    top: -100px !important;
    opacity: 0 !important;
}
.hide .loader {
    -webkit-transition: opacity 1s linear 1s;
    -moz-transition: opacity 1s linear 1s;
    -ms-transition: opacity 1s linear 1s;
    -o-transition: opacity 1s linear 1s;
    transition: opacity 1s linear 1s;
    opacity: 0 !important;
}
/*.pre-load-outer.hide {
    -webkit-transition: opacity 2s 2s, visibility 0s 7s;
    -moz-transition: opacity 2s 2s, visibility 0s 7s;
    -ms-transition: opacity 2s 2s, visibility 0s 7s;
    -o-transition: opacity 2s 2s, visibility 0s 7s;
    transition: opacity 2s 2s, visibility 0s 7s;
    opacity: 0 !important;
    visibility: hidden;
}*/
.hide .pre-load-inner-bottom {
    -webkit-transition: opacity 2s 2s, visibility 0s 7s;
    -moz-transition: opacity 2s 2s, visibility 0s 7s;
    -ms-transition: opacity 2s 2s, visibility 0s 7s;
    -o-transition: opacity 2s 2s, visibility 0s 7s;
    transition: opacity 2s 2s, visibility 0s 7s;
    opacity: 0 !important;
    visibility: hidden;
}

/* Stars Animation */
.stars,
.twinkling {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display:block;
}
.stars {
    background:#000000 url(../img/assets/anim_stars.png) repeat top center;
    z-index:0;
}
.twinkling {
    background:transparent url(../img/assets/anim_twinkling.png) repeat top center;
    z-index:1;

    -moz-animation:move-twink-back 200s linear infinite;
    -ms-animation:move-twink-back 200s linear infinite;
    -o-animation:move-twink-back 200s linear infinite;
    -webkit-animation:move-twink-back 200s linear infinite;
    animation:move-twink-back 200s linear infinite;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

#main {
    position: relative;
    z-index: 10;
}

/* Menu Styles */
.loaded #rLoopMenu {
    display: block;
}
#rLoopMenu {
    display: none;
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 11;
    border-bottom: solid 1.5px #2B2B2B;
    background: rgba(0, 0, 0, .50);
}
#rLoopMenu .section-left {
    float: left;
    position: relative;
    width: 50%;
    height: 40px;
    padding: 15px 0px 15px 50px;
}
#rLoopMenu .section-right {
    float: left;
    position: relative;
    width: 50%;
    height: 40px;
    padding: 15px 50px 15px 0px;
}
#rLoopLogo {
    height: 100%;
}

/* Content Styles */
#rLoopContent .intro {
    opacity: 0;
    visibility: hidden;
}
#rLoopContent .loaded .intro {
    -webkit-transition: opacity 1s 0s, visibility 0s 0s;
    -moz-transition: opacity 1s 0s, visibility 0s 0s;
    -ms-transition: opacity 1s 0s, visibility 0s 0s;
    -o-transition: opacity 1s 0s, visibility 0s 0s;
    transition: opacity 1s 0s, visibility 0s 0s;
    opacity: 1 !important;
    visibility: visible;
}


/* Full Page Overrides */
.intro {
    padding: 0px 55px;
}
.fp-controlArrow.fp-prev {
    left: 15px;
    width: 6vh;
    height: 6vh;
    border: none;

    background: url(../img/btn/arrow.png) no-repeat center center;
    background-size: cover;

    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}
.fp-controlArrow.fp-next {
    right: 15px;
    width: 6vh;
    height: 6vh;
    border: none;

    background: url(../img/btn/arrow.png) no-repeat center center;
    background-size: cover;

    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}

